<footer>
    <section>
        <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('assets//images/logo.png') }}" alt="Logo de la communauté de commune osartis marquion"></a>
    </section>
    <section>
        <p>&copy; 2024</p>
        <a href="{{ path('app_mentions') }}">Mentions Légales</a>
    </section>
</footer