{% extends 'base.html.twig' %}

{% block title %}<i class="fa-solid fa-house"></i> Accueil{% endblock %}

{% block body %}
        <h5><strong>Bonjour,</strong> {{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}</h5>
    <div class="home">
        <div class="feature-grid">
            <div class="feature-item">Annuaire des services</div>
            <div class="feature-item">Mes projets</div>
            <div class="feature-item">Mes réservations</div>
            <div class="feature-item">Nos événements</div>
        </div>

    {% if is_granted('ROLE_ADMIN') %}
        <h5>Outils d'administration :</h5>
        <div class="feature-grid-adm">
            <div class="feature-item-adm">Gestion des tickets</div>
            <div class="feature-item-adm">Parc informatique</div>
            <div class="feature-item-adm">Signature mail</div>
            <div class="feature-item-adm">Création utilisateur</div>
            <div class="feature-item-adm">Documentation</div>
            <div class="feature-item-adm">Notes</div>
            <div class="feature-item-adm">Document ADM</div>
            <div class="feature-item-adm">Vision des réservation</div>
            <div class="feature-item-adm">Logs server</div>
            <div class="feature-item-adm">Logs intranet</div>
            <div class="feature-item-adm">White board</div>
            
        </div>
    {% endif %}


        <h5>Mes liens rapide :</h5>
        <div class="my_links">
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
            <section class="my_link">+</section>
        </div>

        <a href="{{ path('app_all_profiles') }}" class="btn-view-profiles" role="button" aria-label="Voir tous les profils d'utilisateurs">
            <i class="fa-solid fa-users"></i> Voir tous les utilisateurs
        </a>

    </div>
{% endblock %}

