{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="legal-mentions-container">
    <h1>Mentions Légales</h1>
    <br>
    <section>
        <h2>Éditeur du site</h2>
        <p>
            Nom de l'entreprise : <strong>Communauté de communes Osartis-Marquion</strong><br>
            Adresse : ZA, Rue Jean Monnet 62490 Vitry-en-Artois<br>
            Téléphone : +33 3 21 60 06 00<br>
            Email : <a href="mailto:support-it@cc-osartis.com">support-it@cc-osartis.com</a><br>
        </p>
    </section>

    <section>
        <h2>Hébergement</h2>
        <p>
            Hébergeur : <strong>Communauté de communes Osartis-Marquion</strong><br>
            Adresse : 140 rue des cheminots, Vitry-en-Artois<br>
            Téléphone : +33 3 21 60 06 00<br>
            Site web : <a href="https://www.cc-osartis.com/" target="_blank">cc-osartis.com</a>
        </p>
    </section>

    <section>
        <h2>Propriété intellectuelle</h2>
        <p>
            Le contenu de ce site (textes, images, etc.) est la propriété de <strong>la Communauté de communes Osartis-Marquion</strong>. Toute reproduction, même partielle, est interdite sans l'autorisation préalable de l'entreprise.
        </p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>
            Ce site utilise des cookies pour améliorer l'expérience utilisateur. En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies.
        </p>
    </section>

    <section>
        <h2>Protection des données personnelles</h2>
        <p>
            Conformément à la loi "Informatique et Libertés", vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour l'exercer, veuillez contacter : <a href="mailto:support-it@cc-osartis.com">support-it@cc-osartis.com</a>.
        </p>
    </section>

    <section>
        <h2>Responsabilité</h2>
        <p>
            <strong>Communauté de communes Osartis-Marquion</strong> ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation du site ou de l'impossibilité de l'utiliser.
        </p>
    </section>
</div>
{% endblock %}
