# Ne pas ignorer le dossier profile_images
!uploads/profile_images/

# Ne pas ignorer le dossier documents
!uploads/documents/

# Ne pas ignorer le dossier adm-only
!uploads/documents/adm-only/

# Ne pas ignorer le fichier default-avatar.png
!uploads/profile_images/default-avatar.png

# Ignorer tout le contenu dans profile_images
uploads/profile_images/*

# Ignorer tout le contenu dans documents (y compris adm-only)
uploads/documents/*

# Ne pas ignorer le contenu dans adm-only
uploads/documents/adm-only/*

# Ne pas ignorer le contenu dans adm-only
!uploads/documents/adm-only/
