# Ne pas ignorer le dossier profile_images
!uploads/profile_images/

# Ne pas ignorer le dossier documents
!uploads/documents/

# Ne pas ignorer le dossier adm-only
!uploads/documents/adm-only/

# Ne pas ignorer le fichier default-avatar.png
!uploads/profile_images/default-avatar.png

# Ignorer tout le contenu dans profile_images
uploads/profile_images/*

# Ignorer tout le contenu dans documents (y compris adm-only)
uploads/documents/*

# Ne pas ignorer le contenu dans adm-only
uploads/documents/adm-only/*

# Ne pas ignorer le contenu dans adm-only
!uploads/documents/adm-only/

# Ne pas ignorer le dossier culturalEvent
!uploads/culturalEvent/

# Ne pas ignorer le dossier background
!uploads/culturalEvent/background

# Ne pas ignorer le dossier logo
!uploads/culturalEvent/logo

# Ne pas ignorer le dossier seasons
!uploads/culturalEvent/seasons

# Ignorer tout le contenu dans background
uploads/culturalEvent/background/*

# Ignorer tout le contenu dans logo
uploads/culturalEvent/logo/*

# Ignorer tout le contenu dans seasons
uploads/culturalEvent/seasons/*