<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet - Osartis-Marquion{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('styles/scss/app.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>
     
        {% block stylesheets %}{% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body>
    {% include '_partials/_menu.html.twig' with {'page_title': block('title')} %}

    <div class="content">
        {% block body %}

        {% endblock %}
    </div>

    {% include '_partials/_footer.html.twig' %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
