<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet - Osartis-Marquion{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('styles/scss/app.css') }}">     
        {% block stylesheets %}
        {% endblock %}
        <script src="{{ asset('assets/js/script.js') }}"></script>
    </head>
    <body>
    {% include '_partials/_menu.html.twig' with {'page_title': block('title')} %}

    <div class="content">
        {% block body %}

        {% endblock %}
    </div>

    {% include '_partials/_footer.html.twig' %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

    </body>
</html>
